In [2]:
import geopandas as gpd
import pandas as pd

In [6]:
import geopandas as gpd

shp_path = "../data/raw/admin_boundaries/gadm41_TUR_shp/gadm41_TUR_2.shp"

gdf = gpd.read_file(shp_path, engine="fiona")  # fiona engine ile açıyoruz
gdf.head()

,GID_2,GID_0,COUNTRY,GID_1,NAME_1,NL_NAME_1,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,TUR.1.1_1,TUR,Turkey,TUR.1_1,Adana,NA,Aladağ,NA,NA,District,District,NA,TR.AA.AL,"POLYGON ((35.58969 37.94585, 35.58018 37.9321,..."
1,TUR.1.2_1,TUR,Turkey,TUR.1_1,Adana,NA,Ceyhan,NA,NA,District,District,NA,TR.AA.CE,"POLYGON ((35.93405 36.87986, 35.93375 36.87986..."
2,TUR.1.3_1,TUR,Turkey,TUR.1_1,Adana,NA,Feke,NA,NA,District,District,NA,TR.AA.FE,"POLYGON ((35.64175 37.70995, 35.63527 37.71608..."
3,TUR.1.4_1,TUR,Turkey,TUR.1_1,Adana,NA,İmamoğlu,NA,NA,District,District,NA,TR.AA.IM,"POLYGON ((35.4395 37.30673, 35.45382 37.29735,..."
4,TUR.1.5_1,TUR,Turkey,TUR.1_1,Adana,NA,Karaisali,NA,NA,District,District,NA,TR.AA.KS,"POLYGON ((35.09231 37.49986, 35.11373 37.49226..."

In [7]:
gdf = gdf.to_crs(epsg=4326)
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [8]:
gdf.columns

Index(['GID_2', 'GID_0', 'COUNTRY', 'GID_1', 'NAME_1', 'NL_NAME_1', 'NAME_2',
       'VARNAME_2', 'NL_NAME_2', 'TYPE_2', 'ENGTYPE_2', 'CC_2', 'HASC_2',
       'geometry'],
      dtype='object')

In [9]:
gdf_simple = gdf[["NAME_1", "NAME_2", "geometry"]].copy()
gdf_simple = gdf_simple.rename(columns={
    "NAME_1": "province_name",
    "NAME_2": "district_name"
})
gdf_simple.head()

,province_name,district_name,geometry
0,Adana,Aladağ,"POLYGON ((35.58969 37.94585, 35.58018 37.9321,..."
1,Adana,Ceyhan,"POLYGON ((35.93405 36.87986, 35.93375 36.87986..."
2,Adana,Feke,"POLYGON ((35.64175 37.70995, 35.63527 37.71608..."
3,Adana,İmamoğlu,"POLYGON ((35.4395 37.30673, 35.45382 37.29735,..."
4,Adana,Karaisali,"POLYGON ((35.09231 37.49986, 35.11373 37.49226..."

In [11]:
gdf_simple["centroid"] = gdf_simple.geometry.centroid
gdf_simple["lat"] = gdf_simple.centroid.y
gdf_simple["lon"] = gdf_simple.centroid.x
gdf_simple.head()

C:\Users\Asus\AppData\Local\Temp\ipykernel_27464\3613574147.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf_simple["centroid"] = gdf_simple.geometry.centroid
C:\Users\Asus\AppData\Local\Temp\ipykernel_27464\3613574147.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf_simple["lat"] = gdf_simple.centroid.y
C:\Users\Asus\AppData\Local\Temp\ipykernel_27464\3613574147.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf_simple["lon"] = gdf_simple.centroid.x

,province_name,district_name,geometry,centroid,lat,lon
0,Adana,Aladağ,"POLYGON ((35.58969 37.94585, 35.58018 37.9321,...",POINT (35.38778 37.66664),37.666642,35.387781
1,Adana,Ceyhan,"POLYGON ((35.93405 36.87986, 35.93375 36.87986...",POINT (35.7682 37.01189),37.011888,35.768198
2,Adana,Feke,"POLYGON ((35.64175 37.70995, 35.63527 37.71608...",POINT (35.82175 37.8715),37.871495,35.821754
3,Adana,İmamoğlu,"POLYGON ((35.4395 37.30673, 35.45382 37.29735,...",POINT (35.60817 37.25945),37.259451,35.608167
4,Adana,Karaisali,"POLYGON ((35.09231 37.49986, 35.11373 37.49226...",POINT (35.14289 37.25915),37.259147,35.142888

In [13]:
# Başındaki/sonundaki boşlukları temizle
gdf_simple["province_name"] = gdf_simple["province_name"].str.strip()
gdf_simple["district_name"] = gdf_simple["district_name"].str.strip()

# İstersen hepsini Title Case yap
gdf_simple["province_name"] = gdf_simple["province_name"].str.title()
gdf_simple["district_name"] = gdf_simple["district_name"].str.title()

In [14]:
df_out = gdf_simple[["province_name", "district_name", "lat", "lon"]].copy()

# Kaç ilçe var bakalım
len(df_out)

929

In [16]:
import os

# ../data/interim klasörünü oluştur (varsa hata vermez)
os.makedirs("../data/interim", exist_ok=True)

In [17]:
output_path = "../data/interim/districts_base.csv"
df_out.to_csv(output_path, index=False)

len(df_out), output_path

(929, '../data/interim/districts_base.csv')