In [3]:
import pandas as pd
import os

In [4]:
csv_path = "../data/raw/climate_nasa_power/districts_monthly_2014_2023.csv"

df = pd.read_csv(csv_path)
df.head(), df.shape

(  province_name district_name        lat        lon  year  month    t2m  \
 0         Adana        Aladağ  37.666642  35.387781  2014      1   7.35
 1         Adana        Aladağ  37.666642  35.387781  2014      2   8.37
 2         Adana        Aladağ  37.666642  35.387781  2014      3  11.22
 3         Adana        Aladağ  37.666642  35.387781  2014      4  15.48
 4         Adana        Aladağ  37.666642  35.387781  2014      5  19.74

    prectot
 0      NaN
 1      NaN
 2      NaN
 3      NaN
 4      NaN  ,
 (120770, 8))

In [5]:
df.dtypes

province_name     object
district_name     object
lat              float64
lon              float64
year               int64
month              int64
t2m              float64
prectot          float64
dtype: object

In [6]:
# Gruplama anahtarları: il, ilçe, koordinat, yıl
group_cols = ["province_name", "district_name", "lat", "lon", "year"]

yearly = (
    df
    .groupby(group_cols, as_index=False)
    .agg(
        mean_temp_year=("t2m", "mean"),          # o yılın ortalama sıcaklığı
        total_precip_year=("prectot", "sum"),    # o yılın toplam yağışı
        min_temp_year=("t2m", "min"),
        max_temp_year=("t2m", "max"),
    )
)

yearly.head(), yearly.shape

(  province_name district_name        lat        lon  year  mean_temp_year  \
 0         Adana        Aladağ  37.666642  35.387781  2014       16.824615
 1         Adana        Aladağ  37.666642  35.387781  2015       16.216154
 2         Adana        Aladağ  37.666642  35.387781  2016       16.551538
 3         Adana        Aladağ  37.666642  35.387781  2017       16.402308
 4         Adana        Aladağ  37.666642  35.387781  2018       17.214615

    total_precip_year  min_temp_year  max_temp_year
 0                0.0           7.35          28.92
 1                0.0           4.02          28.85
 2                0.0           2.61          29.19
 3                0.0           1.71          30.22
 4                0.0           4.66          28.47  ,
 (9290, 9))

In [7]:
os.makedirs("../data/interim", exist_ok=True)

In [8]:
yearly_path = "../data/interim/districts_climate_yearly_2014_2023.csv"
yearly.to_csv(yearly_path, index=False)
yearly_path

'../data/interim/districts_climate_yearly_2014_2023.csv'

In [9]:
ten_year = (
    yearly
    .groupby(["province_name", "district_name", "lat", "lon"], as_index=False)
    .agg(
        avg_temp_10yr=("mean_temp_year", "mean"),
        avg_precip_10yr=("total_precip_year", "mean"),
        temp_std_10yr=("mean_temp_year", "std"),
        precip_std_10yr=("total_precip_year", "std"),
        temp_min_10yr=("mean_temp_year", "min"),
        temp_max_10yr=("mean_temp_year", "max"),
    )
)

ten_year.head(), ten_year.shape

(  province_name district_name        lat        lon  avg_temp_10yr  \
 0         Adana        Aladağ  37.666642  35.387781      16.739615
 1         Adana        Ceyhan  37.011888  35.768198      19.804077
 2         Adana          Feke  37.871495  35.821754      10.716615
 3         Adana     Karaisali  37.259147  35.142888      12.239538
 4         Adana       Karataş  36.675979  35.229132      21.450077

    avg_precip_10yr  temp_std_10yr  precip_std_10yr  temp_min_10yr  \
 0              0.0       0.362650              0.0      16.216154
 1              0.0       0.378880              0.0      19.261538
 2              0.0       0.439328              0.0      10.156154
 3              0.0       0.417612              0.0      11.707692
 4              0.0       0.332005              0.0      21.102308

    temp_max_10yr
 0      17.347692
 1      20.400769
 2      11.414615
 3      12.945385
 4      22.021538  ,
 (929, 10))

In [10]:
ten_year_path = "../data/interim/districts_climate_10yr.csv"
ten_year.to_csv(ten_year_path, index=False)
ten_year_path

'../data/interim/districts_climate_10yr.csv'